{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title_meta %}{% block title %}عملیات با موفقیت انجام شد{% endblock %}{% endblock %}
{% block main %}
    <div class="col-lg-6 mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر رمزعبور</h3>
            </div>
            <div class="card-body text-center">
                <form method="post">
                    <p>رمزعبور شما با موفقیت تغییر یافت</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
