{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <title>پیام ارسال لینک</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registeration/login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registeration/login/css/main.css' %}">
</head>
<body>
<div class="limiter">
    <div class="container-login100 row">
        <div class="wrap-login100">
            <span class="login100-form-title p-b-26">ارسال لینک</span>
            <span class="login100-form-title p-b-48">
						<img width="150" src="{% static 'img/logo.svg' %}" alt="">
					</span>
            <div class="col-12">
                <p class="font-weight-bold text-center">لینک بازیابی برای ایمیل شما ارسال شد.</p>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
