{% load static %}
<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}صفحه اصلی | پورتال ای جی{% endblock %}</title>
    {% include 'base/_header_refrences.html' %}
</head>
<body>
{% include 'base/shared/header.html' %}
{% block content %}{% endblock %}
{% include 'base/_footer_refrences.html' %}
</body>
</html>